<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <main class="container py-3">
            <section class="card card-body">
                <h1 class="display-1 text-center">Django App</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut nostrum eius non repellendus provident perspiciatis fugit tempora eos consectetur minima voluptates facere ipsam adipisci, laboriosam tenetur fugiat officia corrupti quod?</p>
            </section>
        </main>
    {% endblock %}
</body>
</html>